@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>@ViewBag.Title</h2>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">角色ID</th>
        <th scope="col">角色名</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var r in Model)
    {
        <tr>
            <td scope="row">@r.Id</td>
            <td>@r.Name</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="AddRole" class="btn btn-primary">添加角色</a>